<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="predictButton">
        <button onclick="showTable()">Predict</button>
    </div>

    <div id="tableDiv" class="hidden">
        <h2>Recommended Movies</h2>
        {{ table | safe }}
    </div>

    <script>
        function showTable() {
            document.getElementById("predictButton").style.display = "none";
            document.getElementById("tableDiv").classList.remove("hidden");
        }
    </script>
</body>
</html>
